.bookAppointment{
    width: 100%;
    background-image: -webkit-linear-gradient(30deg, #ffffff 50%, #004953 50%);
    height: 100vh;
}
.bookappointmentcont{
    width: 1500px;
    height: 700px;
    display: flex;
    justify-content: center;
}
