@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bigelow+Rules&family=Montserrat:wght@500&family=Open+Sans&family=Syne:wght@700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Bigelow+Rules&family=Montserrat:wght@500&family=Open+Sans&family=Poppins:wght@600&family=Syne:wght@700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Herosection{
    width: 100%;
    color: #383030;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: "Roboto", sans-serif;

}
.herocont{
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 35px;
    align-items: center;
}
.heroconImg{
    position: relative;
    background: url("../images/banner2.jpg");
    background-size: cover;
    width: 1400px;
}
.Banner1Img{
    width: 100%;
    height: 500px;
}
.Banner2Img{
    width: 562px;
    position: absolute;
    top: 10px;
    left: 700px;
}
.herosubcont{
    position: absolute;
    background-image: -webkit-linear-gradient(30deg, orangered 50%, #004953 50%);
    width: 100%;
    height: 500px;
    top: 0;
}
.heroheader{
    font-size: 40px;
    width:380px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 42px;
}
.heroheader1{
    font-size: 40px;
    width:380px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 0;
    margin-top: 0;
}
.herosubheader{
    font-size: 16px;
    margin-left: 100px;
    width: 420px;
    font-weight: 500;
    margin-top: 10px;
    color: #ffffff;
}
.herocontInfo{
    width: 1200px;
    height: 300px;
    background-color: #fff;
    background-color: aliceblue;
}
.heroline{
    width: 180px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 100px;
    margin-top: 15px;
}
.headerbuttons{
    margin-top: 60px;
}
.headbtn1{
    background-color: #ffffff;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 20px;
}
.headbtn2{
    background-color: #383030;
    color: #ffffff;
    padding: 20px 42px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}

.herocontInfo{
    width: 100%;
    height: 220px;
    margin-top: 540px;
    display: flex;
}

.heroinfo{
    background-color: rgb(255 68 0 / 17%);
    margin-right: 3px;
    width: 33.33%;
    height: 100%;
}