/* HTML: <div class="loader"></div> */
html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
}
.homePage{
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    scroll-behavior: smooth;
}